.background-animate {
  background-size: 200%;
  animation: AnimationName 4s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% -50%;
  }
}
